@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Faktos';
  src: url('/fonts/Faktos.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: system-ui, sans-serif;
}

.font-faktos {
  font-family: 'Faktos', sans-serif;
}